<div [class]="{
status: true,
'status-online' : currentStatus() === 'online',
'status-offline' : currentStatus() === 'offline',
'status-unknown' : currentStatus() === 'unknown',
}">
    @if (currentStatus() === 'online') {
      <p>Servers are online</p>
      <p>All systems are operational.</p>
    } @else if (currentStatus() === 'offline') {
      <p>Servers are offline</p>
      <p>Functionality should be restored soon.</p>
    } @else {
      <p>Server status is unknown</p>
      <p>Fetching server status failed.</p>
    }
  </div>

  <!-- <div [class.status]="currentStatus==='online'">  // so this is for single class dynamically showing the output-->


    <!-- <div [class]="{
      status: true,
      'status-online' : currentStatus === 'online',
      'status-offline' : currentStatus === 'offline',
      'status-unknown' : currentStatus === 'unknown',
      }"> // this is a way to show multiple classes dynamically but still it is hardcoded bcz in
      ts file we are mentioning the currectStatus as online only.-->






<!-- <article>
   <header>
      <img src="status.png" alt="A signal symbol" />
      <h2>Server Status</h2>
    </header> 
    <div> 
      @if (currentStatus === 'online') {
        <p>Servers are online</p>
        <p>All systems are operational.</p>
      } @else if (currentStatus === 'offline') {
        <p>Servers are offline</p>
        <p>Functionality should be restored soon.</p>
      } @else {
        <p>Server status is unknown</p>
        <p>Fetching server status failed.</p>
      }
    </div>
  </article> -->